.screen-reader-text { 
    border:0;   
    clip: rect(1px, 1px, 1px, 1px); 
    clip-path: inset(50%);
    height: 1px; 
    margin: -1px;
    width: 1px; 
    overflow: hidden; 
    position: absolute !important;
    word-wrap:normal !important;
 }
 
 @font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   src: local('Montserrat Medium'), 
            local('Montserrat-Medium'), 
            url('Montserrat-Medium.ttf') format('ttf');
 }
 
 body {
     color: #333;
     font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
     margin: 20px 0;
 }
 
 a {
     color: #369;
     text-decoration: none;
 }
 
 a:hover {
     text-decoration: underline;
 }
 
 h1, h2 {
     font-family: Montserrat, sans-serif;
     font-weight: 500;
 }
 
 .container {
     margin: 20px auto;
     padding: 10px;
     max-width: 600px;
 }
 
 header {
     text-align: center;
     margin-bottom: 50px;
 }
 
 .fullbleed {
     text-align: center;
     margin: 50px 0;
 }
 
 div.fullbleed {
     padding-top: 150px;
     padding-bottom: 150px;
     background-size: cover;
 }
 
 h1.fullbleed, div.fullbleed h2 {
     color: white;
     text-shadow: 2px 2px 4px black;
     font-size: 48px;
 }
 
 h1.fullbleed {
     padding-top: 50px;
     padding-bottom: 50px;
     background: #036;
 }
 
 .fullbleed a {
     color: #cff;
 }
 
 .fullbleed a:hover {
     color: #9cf;
     text-decoration: none;
 }
 
 img.responsive {
     max-width: 100%;
     height: auto;
 }
 
 .index-album {
     position: relative;
     margin: 50px 0;
     padding: 0;
 }
 
 .index-album img {
     width: 100%;
     height: auto;
     margin: 0;
 }
 
 .index-album a {
     position: absolute;
     top: 0;
     left: 0;
     display: block;
     width: 100%;
     height: 100%;
     color: white;
     text-shadow: 2px 2px 4px black;
     font-size: 48px;
     text-align: center;
     background: rgba(0, 51, 102, 0.5);
     margin: 0;
     padding: 1px;
 }
 
 .index-album a span {
     display: block;
     padding-top: 250px;
 }
 
 @media screen and (max-width: 550px) {
     .index-album a span {
         padding-top: 150px;
     }
 }
 
 footer {
     text-align: center;
     margin-top: 100px;
     margin-bottom: 30px;
 }
 
 footer .centerblock {
     max-width: 420px;
     padding: 0;
     margin: 0 auto;
 }
 
 footer ul {
     list-style-type: none;
     height: 60px;
     padding: 0;
 }
 
 footer li {
     margin: 0;
     padding: 0;
 }
 
 footer li a {
     display: block;
     float: left;
     margin: 5px;
     padding: 10px 10px 6px 10px;
     background: #036;
     color: white;
 }
 
 footer li a:hover {
     background: #369;
     text-decoration: none;
 }
 
 footer img {
     width: 30px;
     height: 30px;
 }
 
 footer p {
     margin-top: 50px;
     color: #999;
 }
 
 footer p a {
   color: #666;
 }
 
 /* Gumroad widget styles */
 
 .gumroad-follow-form-embed {
     zoom: 1; 
 }
 
 .gumroad-follow-form-embed:before, 
 .gumroad-follow-form-embed:after {
     display: table;
     line-height: 0;
     content: "";
 }
 
 .gumroad-follow-form-embed:after {
     clear: both;
 }
 
 .gumroad-follow-form-embed * {
     margin: 0;
     border: 0;
     padding: 0;
     outline: 0;
     box-sizing: border-box !important;
     float: left !important;
 }
 
 .gumroad-follow-form-embed input {
     border-radius: 4px;
     border-top-right-radius: 0;
     border-bottom-right-radius: 0;
     font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 15px;
     line-height: 20px;
     background: #fff;
     border: 1px solid #ddd;
     border-right: 0;
     color: #aaa;
     padding: 10px;
     box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.02);
     background-position: top right;
     background-repeat: no-repeat;
     text-rendering: optimizeLegibility;
     font-smoothing: antialiased;
     -webkit-appearance: none;
     -moz-appearance: caret;
     width: 65% !important;
     height: 40px !important;
 }
 
 .gumroad-follow-form-embed button {
     border-radius: 4px;
     border-top-left-radius: 0;
     border-bottom-left-radius: 0;
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
     -webkit-transition: all .05s ease-in-out;
     transition: all .05s ease-in-out;
     display: inline-block;
     padding: 11px 15px 12px;
     cursor: pointer;
     color: #fff;
     font-size: 15px;
     line-height: 100%;
     font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
     background: #333333;
     border: 1px solid #2e2e2e;
     filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#595959, endColorstr=#2f2f2f, GradientType=0)";
     background: -webkit-linear-gradient(#595959, #2f2f2f);
     background: linear-gradient(to bottom, #595959, #2f2f2f);
     height: 40px !important;
     width: 35% !important;
 }